<!-- Este ficheiro está Blindado! Proibido Alterar! -->
<footer>
    <div id="cookie-banner">
        <div class="cookie-text">
            Utilizamos cookies para melhorar a sua experiência e analisar o tráfego. Ao continuar, concorda com a nossa política.
        </div>
        <div class="cookie-btns">
            <button class="btn-accept" onclick="aceitarCookies()">Aceitar</button>
        </div>
    </div>

    <div class="social-container">
        <ul class="social-menu">
            <li><a href="https://www.instagram.com/acifradekarnak?igsh=MXdkdTFuNHR5emRvaA==" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="http://www.facebook.com/profile.php?id=61585479627585" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.tiktok.com/@acifradekarnak?_r=1&_t=ZG-92iVOB5yDM8=" target="_blank"><i class="fab fa-tiktok"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCWHVqI7m6AVQYe2mRwTTSNQ" target="_blank"><i class="fab fa-youtube"></i></a></li>
        </ul>
    </div>

    <div class="footer-links">
        <a onclick="openModal('privacidade')">Privacidade</a>
        <a onclick="openModal('termos')">Termos</a>
        <a onclick="openModal('reembolsos')">Reembolsos</a>
        <a onclick="openModal('contacto')">Contacto</a>
    </div>

    <p class="copy-text">© 2025 A Cifra de Karnak | LVmedias. Todos os direitos reservados.</p>

    <div id="legalModal" class="modal">
        <div class="modal-content">
            <span class="close-modal" onclick="closeModal()">&times;</span>
            <div id="modalBody"></div>
        </div>
    </div>
</footer>
