<!-- Cabeçalho Blindado / Proibido Alterar -->
<a href="index.html" class="nav-logo">
    <img src="logo.png" alt="Logo" class="logo-img">
    <span class="brand-name">A Cifra de Karnak</span>
</a>

<nav>
    <ul class="social-menu">
        <li><a href="https://www.instagram.com/acifradekarnak?igsh=MXdkdTFuNHR5emRvaA==" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="http://www.facebook.com/profile.php?id=61585479627585"_blank"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.tiktok.com/@acifradekarnak?_r=1&_t=ZG-92iVOB5yDM8" target="_blank"><i class="fab fa-tiktok"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCWHVqI7m6AVQYe2mRwTTSNQ" target="_blank"><i class="fab fa-youtube"></i></a></li>
    </ul>
</nav>



